@import "../../styles/_styleDashMix.scss";

#backToDocs {
  position: absolute;
  top: 20vh;
  left: 10vw;
}

.description-wrap {
  @include Flex-Row(center, center, 90vw, initial);
  margin: 2vh auto 4vh auto;
  border: 1px solid black;
  background-image: linear-gradient(to bottom right, $cBackground, $cTableRowOff);
  border-radius: 0.5rem;
  .visual-wrap {
    @include Flex-Row(center, center, initial, initial);
    margin: 2vh 0vw;
    img {
      @include WidthHeight(80%, 100%);
      border-radius: 0.7rem;
    }
  }
  .text-wrap {
    p {
      margin: 2vh 0vw;
      text-align: center;
    }
  }
}

.html-sass-req-wrap {
  @include Flex-Col(center, center, 90vw, initial);
  margin: 2vh auto;
  border: 1px solid black;
  background-image: linear-gradient(to bottom right, $cBackground, $cTableRowOff);
  border-radius: 0.5rem;
  span {
    margin: 2vh 0vw;
  }
  img {
    @include WidthHeight(30vw, 40vh);
    @media (max-width: $bmaxTablet) {
      width: 80vw;
    }
    margin: 1vh 1vw;
    border-radius: 0.5rem;
    transition: width 0.3s;
  }
  pre {
    position: relative;
    .copy-btn {
      @include Img-Round(3rem);
      cursor: pointer;
      position: absolute;
      top: 0%;
      right: 0%;
      transition: filter 0.3s;
    }
  }
  .directions-wrap {
    @include Flex-Col(flex-start, center, 65%, initial);
    margin: 2vh 0vw;
    ul {
      margin: 2vh 0vw;
    }
  }
}

.minor-title {
  padding: 2vh 0vw;
}

.implementation-wrap {
  @include Flex-Col(center, center, 90vw, initial);
  margin: 2vh auto 8vh auto;
  border: 1px solid black;
  background-image: linear-gradient(to bottom right, $cBackground, $cTableRowOff);
  border-radius: 0.5rem;

  img {
    @include WidthHeight(40vw, 40vh);
    @media (max-width: $bmaxTablet) {
      width: 75vw;
    }
    margin-bottom: 3vh;
    transition: width 0.3s;
  }

  span {
    margin: 2vh 0vw;
  }
}

.code-snip {
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 0.5rem black;
}

// slideshow ---------------------------------------
.slideshow-wrap {
  @include Flex-Row(center, center, 100%, 90%);
  position: relative;
  div {
    @include Flex-Col(center, center, 100%, 100%);
    transition: width 0.5s, opacity 0.5s;
  }
  .slideshow-shrink {
    width: 0% !important;
    pointer-events: none;
    opacity: 0%;
  }
  .slideshow-btn {
    @include Img-Round(4rem);
    cursor: pointer;
    position: absolute;
    top: 50%;
  }
  .slideshow-left {
    transform: translate(-50%, -50%) rotate(90deg);
    left: 3%;
  }
  .slideshow-right {
    transform: translate(-50%, -50%) rotate(-90deg);
    right: 3%;
  }
}
